<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Bienvenidos a La Vecindad, tienda de bebidas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header id="header">
        <div class="header-logo">
            <a href="http://localhost:3030/"><img src="images/logo-lavecindad.png" alt="Logo de La Vecindad"></a>
        </div>
        <div class="header-menu">
            <div class="header-menu-search" action="#" method="GET">
                <input class="buscar-productos" type="search" placeholder="Buscar productos..."> </a>
            </div>
            <div class="header-menu-icons">
                <a class="cart"><i class="fas fa-shopping-cart"></i></a>
                <a class="burger-menu"><i class="fa fa-bars burger"></i></a>
            </div>
        </div>
    </header>

    <section class="banner">
        <div class="banner-img">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas"></img>
            <div class="texto-banner">
                <p>La bebida justa<br>para tu plan ideal.</p>
            </div>
        </div>
    </section>
    <section class="beneficios">
        <div class="beneficio">
            <ul>
                <li><i class="fas fa-truck-moving icono-beneficios"></i>
                    <h3>ENVÍOS A TODO EL PAÍS</h3>
                    <p>
                        Llená tu carrito y te lo enviamos a la puerta de tu casa
                    </p>
                </li>
        </div>
        <div class="beneficio">
            <li><i class="fas fa-money-bill icono-beneficios"></i>
                <h3>COTIZACIÓN AL ACTO</h3>
                <p>
                    Envianos tu solicitud de pedido y en 24h te enviamos cotización.
                </p>
            </li>
        </div>
        <div class="beneficio">
            <li><i class="fas fa-money-check icono-beneficios"></i>
                <h3>TODOS LOS MEDIOS DE PAGO</h3>
                <p>
                    Aceptamos transferencia, pago con tarjetas y MercadoPago.
                </p>
            </li>
            </ul>
        </div>
    </section>
    <main>
        <section class="destacados">
            <h3>Productos destacados</h3>
            <div class="products">
                <article>
                    <img src="images/fernet-branca-710.jpg" alt="Fernet Branca" class="product_img">
                    <div class="main-article">
                        <h4 class="description">Fernet Branca x 750 ml</h4>
                        <p class="price">$6.770</p>
                        <p class="buy">Comprar</p>
                    </div>
                </article>
                <article>
                    <img src="images/damajuana_crotta_malbec.jpg" alt="Damajuana Crotta Malbec" class="product_img">
                    <div class="main-article">
                        <h4 class="description">Damajuana Crotta Malbec x 5L</h4>
                        <p class="price">$230.000</p>
                        <p class="buy">Comprar</p>
                    </div>
                </article>
                <article>
                    <img src="images/01032600191.webp" alt="Whiskey Wild Turkey" class="product_img">
                    <div class="main-article">
                        <h4 class="description">Whiskey Wild Turkey</h4>
                        <p class="price">$70.500</p>
                        <p class="buy">Comprar</p>
                    </div>
                </article>
                <article>
                    <img src="images/niteo_senetiner_malbec.jpg" alt="Vino Nieto Senetiner" class="product_img">
                    <div class="main-article">
                        <h4 class="description">Vino Nieto Senetiner Malbec</h4>
                        <p class="price">$23.200</p>
                        <p class="buy">Comprar</p>
                    </div>
                </article>
            </div>
        </section>
        <section class="marcas-representadas">
            <h3>Nuestros partners</h3>
            <div id="marcas">
                <img src="images/01-logo-salentein.jpg">
                <img src="images/02-logo-chacabuco-wines.jpg">
                <img src="images/03-logo-cuesta-del-madero.jpg">
                <img src="images/04-logo-bodegas-lopez.jpg">
                <img src="images/05-logo-caballero-del-diablo.jpg">
                <img src="images/06-logo-llave.jpg">
            </div>
    </main>
    <footer id="footer">
        <div class="footer-top">
            <div class="footer-logo">
                <img src="images/logo-lavecindad.png" alt="Logo de La Vecindad"></a>
            </div>
            <div class="footer-info">
                <p>J. Cobos 1205. Dorrego, Guaymallén. Mendoza<br>
                    Lunes a sábados: 10 a 14 h / 18 a 23 h.<br>
                    Domingos: 11 a 14 h</p>
            </div>
            <div class="footer-redes">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
        <div class="footer-bottom">
        </div>
    </footer>
</body>

</html>